/*
refer to http://stevesanderson.github.io/fixed-height-layouts-demo/two-columns.html
*/

body {
  font-family: 'Helvetica Neue', Arial, Sans-Serif;
}

.header, .footer {
  color: #eee;
  background: #464c5b;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 0 0.5em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #696f77), color-stop(100%, #28343b));
  background: -webkit-linear-gradient(top, #696f77 0%, #28343b 100%);
  background: -ms-linear-gradient(top, #696f77 0%, #28343b 100%);
}



.body, .pane {
  background: #ddd
}

/*.right.col { border-left: 1px solid black; }*/
.right.col .body {
  padding: 0 1em;
  background: #f8f8f9
}

.left.col .body {
  background: #495060;
}

.el-menu-item.is-active{
  color: #ffffff!important;
  background-color: #409EFF!important;

}

